.header {
  background-color: #282c34;
  color: white;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0 20px 0;
}

.header .connect-wallet-btn {
  margin-right: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}