.connect-wallet-btn {
  background: #FF416C;
}

.connect-wallet-btn:hover {
  background: #a8ff78;
  color: black;
}

.connect-wallet-btn--connected {
  background: #a8ff78;
  color: black;
}

.connect-wallet-btn--connected:hover {
  background: #FF416C;
  color: white;
}

.connect-wallet-btn--warning {
  background: #FF416C !important;
  color: white;
  font-size: 12px;
  margin-top: 8px;
}